:root {
    --grey: #C9D1D5;
    --darkgrey: #818c98;
    --darkblue: #0C243C;
    --turquoise: #55C2C3;
    --applewhite: #fbfbfb;
    --darkturq: #4eb3b5;
}


body {
    background: var(--applewhite);
}



.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--turquoise);
    border-radius: 10px;
    box-shadow: 0 0 6px #3e3e3e;
    padding: 10px;
    width: 500px;
    height: 350px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.login h1 {
    color: var(--darkblue);
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.sub {
    background: var(--darkblue);
    color: var(--applewhite);
    margin: 0 auto;
    font-size: 16px;
    padding: 10px 60px;
    text-transform: uppercase;
    font-weight: 600;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-bottom: 10px;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.sub:hover {
    font-size: 17px;
    padding: 10px 60px;
    background: var(--applewhite);
    color: var(--darkblue);
}

.login label {
    color: var(--darkblue);
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 10px;
}

.login input[type=text] {
    background-color: var(--applewhite);
    border-radius: 15px;
    border: 0.5px solid #0C243C;
    width: 100%;
    height: 25px;
}

.login input[type=password] {
    background-color: var(--applewhite);
    border-radius: 15px;
    border: 1px solid #0C243C;
    width: 100%;
    height: 25px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

::placeholder {
    color: var(--darkblue);
    opacity: 0.7;
}


.tooltip {
    position: fixed;
    right: 10px;
    bottom: 20px;
    border-radius: 20px;
    height: 30px;
    width: fit-content;
    min-width: 250px;
    padding-top: 8px;
    text-align: center;
    border: 2px solid black;
}

img {
    position: sticky;
    z-index: 2;
    left: 5px;
    top: 5px;
}